@*groundfloor*@
@page "/groundfloorshutters"

@inject ComponentList components

<div class="row" style="height: 10rem">
    <div class="col-lg-6">
        <h1 class="display-3">Erdgeschoss Rollläden</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4" style="border:none">
        <div class="card">
            <div class="card-header bg-secondary">
                <img src="images/lightbulbOff.png" width="80" height="80" />
                <label class="text-white lead">Beleuchtung</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <ShutterComponent Caption="Küche"></ShutterComponent>
                    <mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay ComponentKey="EGController1/kuecheLicht"></mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay>
                </div>

                <hr />

                <div class="row">
                    <ShutterComponent Caption="Terasse"></ShutterComponent>
                    <mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay ComponentKey="EGController1/essenLicht"></mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay>
                </div>

                <hr />

                <div class="row">
                    <ShutterComponent Caption="Essen"></ShutterComponent>
                    <mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay ComponentKey="EGController1/esstischLicht"></mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card" style="border:none">
            <div class="card-header bg-secondary">
                <img src="images/shutters2_128px.png" width="80" height="80" />&nbsp;&nbsp;
                <label class="text-white lead">Beschattung</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <ShutterComponent Caption="Wohnen"></ShutterComponent>
                    <mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay ComponentKey="EGController1/wohnenLicht"></mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay>
                </div>

                <hr />

                <div class="row">
                    <ShutterComponent Caption="Durchgang"></ShutterComponent>
                    <mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay ComponentKey="EGController1/wohnenLicht"></mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card" style="border:none">
            <div class="card-header bg-secondary">
                <img src="images/home_128px.png" width="80" height="80" />&nbsp;&nbsp;
                <label class="text-white lead">Gruppen</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <ShutterComponent Caption="Wohnen"></ShutterComponent>
                    <mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay ComponentKey="EGController1/EssenLichter"></mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay>
                </div>

                <hr />

                <div class="row">
                    <ShutterComponent Caption="Essen"></ShutterComponent>
                    <mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay ComponentKey="EGController1/ErdgeschossLichter"></mitoSoft.Razor.homeNet.TimerComponents.TimerOverlay>
                </div>
            </div>
        </div>
    </div>
</div>