@using mitoSoft.Razor.Components.Enums

@inherits Microsoft.AspNetCore.Components.Web.ErrorBoundary

@inject IJSRuntime JsRuntime

@* https://github.com/dotnet/aspnetcore/blob/9ace45d8dffb0c89026df3cd989b49f87c61344c/src/Components/test/testassets/BasicTestApp/ErrorBoundaryTest/CustomErrorBoundary.razor *@

@if (!string.IsNullOrEmpty(this._message) && ErrorContent is not null)
{
    @ErrorContent(CurrentException!)
}
else if (!string.IsNullOrEmpty(this._message) && this.Mode == ErrorBoundaryMode.ErrorText)
{
    <div class="mitosoft-error-boundary">
        <div class="row">
            <label class="form-label text-danger mitosoft-text-danger">
                @this._message
            </label>
        </div>
        @if (this.Reload)
        {
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-danger mitosoft-btn mitosoft-btn-danger" @onclick="OkClicked">
                        Ok
                    </button>
                </div>
            </div>
        }
    </div>

    @if (this.ShowChildContentOnError)
    {
        @ChildContent
    }
}
else if (string.IsNullOrEmpty(this._message))
{
    @ChildContent
}

@code {
    private string _message = string.Empty;

    [Parameter]
    public ErrorBoundaryHandler Handler { get; set; } = new();

    [Parameter]
    public ErrorBoundaryMode Mode { get; set; } = ErrorBoundaryMode.ErrorText;

    [Parameter]
    public bool Reload { get; set; } = false;

    [Parameter]
    public bool ShowChildContentOnError { get; set; } = false;

    protected override Task OnErrorAsync(Exception exception)
    {
        _message = exception.Message;
        var eventArgs = new ErrorBoundaryEventArgs(_message, this.Reload, this.Mode, this.ShowChildContentOnError);

        this.Handler.InvokeExceptionFiredEvent(eventArgs);

        _message = eventArgs.Message;
        this.Reload = eventArgs.Reload;
        this.Mode = eventArgs.Mode;
        this.ShowChildContentOnError = eventArgs.ShowChildContentOnError;

        if (this.Mode == ErrorBoundaryMode.JSModal)
        {
            this.ShowExceptionMessage(this._message);

            if (this.Reload)
            {
                this.Recover();
            }
        }

        return base.OnErrorAsync(exception);
    }

    private void OkClicked()
    {
        if (this.Reload)
        {
            this.Recover();
        }
    }

    public new void Recover()
    {
        this._message = "";
        base.Recover();
    }

    private void ShowExceptionMessage(string message)
    {
        JsRuntime.InvokeVoidAsync("alert", message);
    }
}