@using mitoSoft.Razor.Components.Enums

@inject ErrorBoundaryOptions ErrorBoundaryOptions

@inherits LayoutComponentBase

<PageTitle>mitoSoft.Razor.Components.Examples.DotNet6</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <mitoSoft.Razor.Components.ErrorBoundary Options="@ErrorBoundaryOptions" Handler="@(new ErrorBoundaryHandler())">
                @Body
            </mitoSoft.Razor.Components.ErrorBoundary>
        </article>
    </main>
</div>