@if (Visibility)
{
    <div class="modal fade show" id="myModal" style="display: block;">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>@Title</h4>
                    @if (this.ShowCloseButton)
                    {
                        <button type="button" class="close" data-dismiss="modal" @onclick="@CloseClicked">&times;</button>
                    }
                </div>
                <div class="modal-body">
                    @Content
                </div>
                <div class="modal-footer">
                    @Footer
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public bool ShowCloseButton { get; set; } = true;

    [Parameter]
    public bool Visibility { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public Action<MouseEventArgs> OnCloseClicked { get; set; }

    private void CloseClicked(MouseEventArgs e)
    {
        this.OnCloseClicked?.Invoke(e);
    }
}